Django==5.2
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.11
python-dotenv==1.2.2
Pillow==11.3.0
qrcode==8.2
gunicorn==23.0.0
whitenoise==6.9.0